<div class="admin-container ">
  <h1 class="uk-text-center">{{user.name}}</h1>
  <h2 class="uk-margin-small-top uk-text-meta uk-text-center uk-text-uppercase">{{user.role}}</h2>
  
  <div class="update-wrapper">
    <h3>Update Offers</h3>
    <hr>
    <div class="add-new add-offer">
      <button type="button">Create new Offer</button>
      <div uk-drop="mode: click; pos: bottom-center; offset: 0; animation: uk-animation-slide-top-medium">
        {{> admin/createOfferForm}}
      </div>
    </div>
    <form action="/admin/{{user._id}}" method="get" enctype="application/x-www-form-urlencoded" id="search-offer" class="search-form">
      <div class="search-field">
        <label for="alias">Alias:</label>
        <input name="alias" type="text" placeholder="Offer's alias">
      </div>
      <button type="submit">Search</button>
    </form>
    <div id="offer-results" class="search-results-wrapper uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid></div>
  </div>
  <div class="update-wrapper">
    <h3>Update Products</h3>
    <hr>
    <form action="/admin/{{user._id}}" method="get" enctype="application/x-www-form-urlencoded" id="search-product" class="search-form">
      <div class="search-field">
        <label for="name">Name:</label>
        <input name="product" type="text" placeholder="Product name">
      </div>
      <button type="submit">Search</button>
    </form>
    <div id="product-results" class="search-results-wrapper uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid></div>
  </div>
  <div class="update-wrapper">
    <h3>Update Pharmacies</h3>
    <hr>
    <form action="/admin/{{user._id}}" method="get" enctype="application/x-www-form-urlencoded" id="search-pharma" class="search-form">
      <div class="search-field">
        <label for="name">Name:</label>
        <input name="pharma" type="text" placeholder="Pharmacie name">
      </div>
      <button type="submit">Search</button>
    </form>
    <div id="pharma-results" class="search-results-wrapper uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid></div>
  </div>
  <div id="users-crud" class="update-wrapper">
    <h3>Update Users</h3>
    <hr>
    <form action="/admin/{{user._id}}" method="get" enctype="application/x-www-form-urlencoded" id="search-user" class="search-form">
      <div class="search-field">
        <label for="name">Email:</label>
        <input name="email" type="text" placeholder="User's email">
      </div>
      <button type="submit">Search</button>
    </form>
    <div id="user-results" class="search-results-wrapper uk-grid-match uk-grid-medium uk-child-width-1-2@m uk-child-width-1-4@l" uk-grid></div>
  </div>
</div>