<h1>Kit</h1>

<div class="kits-wrapper">
	<ul>
		{{#if kits}}
			{{#each kits as |kit|}}

				<div class="uk-margin">
					<a href="/user/{{kit.userId}}/kit/{{kit._id}}">
						<div class="uk-card uk-card-default uk-card-hover uk-card-body">
							<h3 class="uk-card-title">{{kit.name}}</h3>
							<li>{{kit._id}}</li>
						</div>
					</a>
				</div>

			{{/each}}
		{{else}}

			<h3>Nothing to show here yet</h3>

		{{/if}}
	</ul>
</div>