<h1 class="uk-text-center">{{data.language.welcome.[0]}}, {{user.name}}</h1>

<div class="profile-pic-wrapper">
  {{#if user.profile_pic}}
    <div class="profile-pic" style="background-image: url('{{user.profile_pic}}')"></div>
    {{else}}
      <a class="uk-flex-inline uk-flex-column uk-text-center" href="/user/{{user._id}}/edit">
        <img data-src="/img/avatar.png" alt="Upload a new profile pic" data-height="100" data-width="100" class="profile-pic uk-margin" uk-img>
        <span class="uk-text-meta">Edit</span>
      </a>
  {{/if}}
</div>

<div class="menu-cards uk-margin uk-margin-medium-top uk-grid-medium uk-child-width-expand" uk-grid>
  <div>
    <a href="#search-modal" uk-toggle>
      <div class="uk-card uk-card-hover uk-card-primary uk-card-body">
        <h2><span uk-search-icon></span> Search...</h2>
      </div>
    </a>
  </div>
</div>

<div id="search-modal" class="uk-modal-full uk-modal" uk-modal>
  <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <div class="uk-grid-collapse" uk-grid uk-height-match="target:>div>*">
      <div class="uk-width-expand">
        <form action="/search" method="GET" enctype="application/x-www-form-urlencoded" id="search-form" class="uk-search uk-search-large">
          <input name="name" type="search" placeholder="Search..." autocomplete="on" autofocus class="uk-search-input uk-text-center">
          <button type="submit" class="uk-search-icon-flip" uk-search-icon uk-search-toggle></button>
        </form>
      </div>
      <div class="search-image uk-width-auto">
        <a href="/search/image"><span uk-icon="icon: camera"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="menu-cards uk-margin uk-grid-medium uk-child-width-expand" uk-grid>
  <div>
    <a href="/user/{{user._id}}/kit">
      <div class="uk-card uk-card-hover uk-card-primary uk-card-body">
        <h2><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span> Cabinet</h2>
      </div>
    </a>
  </div>
</div>

<div class="menu-cards uk-margin uk-grid-medium uk-child-width-expand" uk-grid>
  <div>
    <a href="/user/{{user._id}}/reminders">
      <div class="uk-card uk-card-hover uk-card-primary uk-card-body">
        <h2><span class="uk-margin-small-right" uk-icon="icon: clock"></span> Reminders</h2>
      </div>
    </a>
  </div>
</div>