<h1 class="uk-margin-large-top uk-text-center">{{data.language.welcome.[0]}}, {{user.name}}</h1>

<div class="profile-pic-wrapper">
  {{#if user.profile_pic}}
    <img data-src="{{user.profile_pic}}" alt="{{user.name}}'s profile pic" data-height="100" data-width="100" class="profile-pic uk-margin" uk-img>
    {{else}}
      <a class="uk-flex-inline uk-flex-column uk-text-center" href="/user/{{user._id}}/edit">
        <img data-src="https://res.cloudinary.com/cappsule/image/upload/v1540575763/public/avatar.png" alt="Upload a new profile pic" data-height="100" data-width="100" class="profile-pic uk-margin" uk-img>
        <span class="uk-text-meta">Edit</span>
      </a>
  {{/if}}
</div>

<div class="menu-cards uk-margin uk-grid-match uk-grid-medium uk-child-width-expand" uk-grid>
  <div>
    <div class="uk-card uk-card-hover uk-card-large uk-card-primary uk-card-body">
      <h2>Search</h2>
      <form action="/search" method="GET" enctype="application/x-www-form-urlencoded">
        <input type="text" placeholder="Search for a product">
        <button type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="menu-cards uk-margin uk-grid-match uk-grid-medium uk-child-width-expand" uk-grid>
  <div>
    <a href="/{{user.name}}/kit">
      <div class="uk-card uk-card-hover uk-card-large uk-card-primary uk-card-body">
        <h2>Cabinet</h2>
      </div>
    </a>
  </div>
</div>

<div class="menu-cards uk-margin uk-grid-match uk-grid-medium uk-child-width-expand" uk-grid>
  <div>
    <a href="/{{user.name}}/reminders">
      <div class="uk-card uk-card-hover uk-card-large uk-card-primary uk-card-body">
        <h2>Reminders</h2>
      </div>
    </a>
  </div>
</div>