<h1 class="uk-text-center">{{data.language.welcome.[0]}}, {{user.name}}</h1>

<div class="profile-pic-wrapper">
  {{#if user.profile_pic}}
    <div class="profile-pic" style="background-image: url('{{user.profile_pic}}')"></div>
    {{else}}
      <a class="uk-flex-inline uk-flex-column uk-text-center" href="/user/{{user._id}}/edit">
        <img data-src="https://res.cloudinary.com/cappsule/image/upload/v1540575763/public/avatar.png" alt="Upload a new profile pic" data-height="100" data-width="100" class="profile-pic uk-margin" uk-img>
        <span class="uk-text-meta">Edit</span>
      </a>
  {{/if}}
</div>

<form action="/search" method="GET" enctype="application/x-www-form-urlencoded" id="search-form" class="menu-cards uk-margin-medium-top uk-margin uk-grid-collapse uk-margin-medium-bottom" uk-grid>
  <div class="uk-width-4-5">
    <input name="name" type="search" placeholder="Search for a product" autocomplete="on" autofocus>
  </div>
  <div class="uk-width-1-5">
    <button type="submit"><span class="uk-margin-small-right" uk-icon="icon: search"></span></button>
  </div>
</form>

<div class="menu-cards uk-margin uk-grid-medium uk-child-width-expand" uk-grid>
  <div>
    <a href="/user/{{user._id}}/kit">
      <div class="uk-card uk-card-hover uk-card-primary uk-card-body">
        <h2><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span> Cabinet</h2>
      </div>
    </a>
  </div>
</div>

<div class="menu-cards uk-margin uk-grid-medium uk-child-width-expand" uk-grid>
  <div>
    <a href="/user/{{user._id}}/reminders">
      <div class="uk-card uk-card-hover uk-card-primary uk-card-body">
        <h2><span class="uk-margin-small-right" uk-icon="icon: clock"></span> Reminders</h2>
      </div>
    </a>
  </div>
</div>