<h1 class="uk-margin-large-top uk-text-center">{{data.language.welcome.[0]}}, {{user.name}}</h1>

<div class="profile-pic-wrapper">
  {{#if user.profile_pic}}
    <img data-src="{{user.profile_pic}}" alt="{{user.name}}'s profile pic" data-height="100" data-width="100" class="profile-pic uk-margin" uk-img>
    {{else}}
      <a class="uk-flex-inline uk-flex-column uk-text-center" href="/user/{{user._id}}/edit">
        <img data-src="https://res.cloudinary.com/cappsule/image/upload/v1540575763/public/avatar.png" alt="Upload a new profile pic" data-height="100" data-width="100" class="profile-pic uk-margin" uk-img>
        <span class="uk-text-meta">Edit</span>
      </a>
  {{/if}}
</div>