<div class="uk-margin">
  <form action="/prod" method="GET" enctype="application/x-www-form-urlencoded" class="uk-search uk-search-default">
    <input name="name" type="search" class="uk-search-input" type="search" placeholder="Search..." autocomplete="on" autofocus>
    <button type="submit" class="uk-search-icon-flip" uk-search-icon uk-search-toggle></button>
  </form>
</div>

<div>
  <video id="player" controls autoplay></video>
  <button id="capture">Capturar</button>
  <canvas id="snapshot" width=320 height=240></canvas>
</div>

<div id="search-results">
  <div class="uk-child-width-1-2@s uk-grid-small" uk-grid uk-height-match="target:>div>*">
  {{#each products as |product|}}
    {{#with product}}
      <div>
        <div class="uk-tile uk-tile-default uk-padding-small">
          <p>Pharma {{pharmacy}}</p>
          <div class="uk-text-center">
            <img data-src="{{image}}" alt="{{name}}" height="240" width="240" uk-img>
          </div>
          <h4>{{name}}</h4>
          <p>{{ingredient}}</p>
          <p>{{presentation}}</p>
          <p>{{quantity}}</p>
          <p>$ {{price}}</p>
        </div>
      </div>
    {{/with}}
  {{/each}}
  </div>
</div>


<script>
  var player = document.getElementById('player'); 
  var snapshotCanvas = document.getElementById('snapshot');
  var captureButton = document.getElementById('capture');
  var videoTracks;

  var handleSuccess = function(stream) {
    // Attach the video stream to the video element and autoplay.
    player.srcObject = stream;
    videoTracks = stream.getVideoTracks();
  };

  captureButton.addEventListener('click', function() {
    var context = snapshot.getContext('2d');
    context.drawImage(player, 0, 0, snapshotCanvas.width, snapshotCanvas.height);

    var pngUrl = snapshotCanvas.toDataURL();
    var data = pngUrl.slice(22,pngUrl.length)
    console.log('PNG URL DATA =====> ',data)

    // Stop all video streams.
    videoTracks.forEach(function(track) {track.stop()});
  });

  navigator.mediaDevices.getUserMedia({video: true})
      .then(handleSuccess);
</script>