<h1 class="uk-text-center">Treatments</h1>
<div class="treatment-add-wrapper">
	<div class="">
		<form id="prescription-form" action="/user/{{user._id}}/prescriptions/add" method="post" class="uk-text-center" enctype="multipart/form-data">
			<button class="uk-button uk-button-default uk-align-center" type="button">Add Prescription</button>
			<div uk-drop="mode: click; pos: bottom-center">
				<div class="uk-card uk-card-body uk-card-default">
					<div class="uk-margin">
						<div class="uk-form-controls">
							<input class="uk-input" type="text" placeholder="Medic Name" name="medicName">
						</div>
					</div>
					<div class="uk-margin">
						<div class="js-upload uk-form-controls" uk-form-custom>
							<input class="uk-input" type="file" multiple name="prescription_pic">
							<button class="uk-button uk-button-default" type="button" tabindex="-1">Add a prescription foto</button>
						</div>
					</div>
					<div class="uk-margin">
						<div class="uk-form-controls">
							<input class="uk-input" type="datetime-local" placeholder="Select Prescription Date/Hour" name="prescription_date">
						</div>
					</div>
					<p class="uk-margin">
						<button type="submit" class="uk-button uk-button-default">Create Prescription</button>
					</p>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="prescription-wrapper">
	<ul>
		{{#each prescriptions as |prescription|}}
			<div class="uk-margin">
				<div class="uk-card uk-card-default uk-card-hover uk-card-body">
					<div style="display: flex; justify-content: flex-end">
						{{#if prescription.prescription_pic}}
							<div uk-lightbox> <a class="uk-button uk-button-default" href="{{prescription.prescription_pic.[0]}}">View Picture</a> </div>
						{{/if}}
					</div>
					<h4 class="uk-card-title">Md. {{prescription.medicName}} @ <span>Date {{prescription.prescription_date}}</span></h4>
					<div class="treatments-wrapper">
						<ul>
							{{#each prescription.treatmentId as |treatment|}}
								<div class="uk-margin">
									<div class="uk-card uk-card-default uk-card-hover uk-card-body uk-align-center">
										<h3 class="uk-card-title">{{treatment.productName}}</h3>
										<p>Take {{dosage}} tablets every {{treatment.frequency}} hours for {{days}} days</p>
										<div><a href="/user/{{../../user._id}}/treatments/{{treatment._id}}" style="display: block; text-align: right">Delete</a></div>
									</div>
								</div>
							{{/each}}
						</ul>
					</div>
          <div class="">
						<form id="treatment-form" action="/user/{{../user._id}}/treatments/add" method="post" class="uk-text-center">
							<button class="uk-button uk-button-default uk-align-center" type="button">Add Treatment</button>
							<div uk-drop="mode: click; pos: bottom-center">
								<div class="uk-card uk-card-body uk-card-default">
									<input type="hidden" name="prescriptionId" value="{{prescription._id}}">
									<div class="uk-margin">
										<div class="uk-form-controls">
											<select class="uk-select" id="form-stacked-select" name="inventoryIdproductName">
												<option>Please select medicine...</option>
												{{#if ../cabinet}}
													{{#each ../cabinet as |kit|}}
														{{#each kit as |product|}}
															<option value="{{product._id}}={{product.productId.name}}">{{product.productId.name}} - {{@../key}}</option>
														{{/each}}
													{{/each}}
												{{else}}
													<h3>Nothing to show here yet</h3>
												{{/if}}
											</select>
										</div>
									</div>
									<div class="uk-margin">
										<div class="uk-form-controls">
											<label for="">Take</label>
											<input class="uk-input" type="number" placeholder="Quantity" name="dosage">
										</div>
									</div>
									<div class="uk-margin">
										<div class="uk-form-controls">
											<label for="">Every</label>
											<input class="uk-input" type="number" placeholder="Hours" name="frequency">
										</div>
									</div>
									<div class="uk-margin">
										<div class="uk-form-controls">
											<label for="">For</label>
											<input class="uk-input" type="number" placeholder="Days" name="days">
										</div>
									</div>
									<p class="uk-margin">
										<button type="submit" class="uk-button uk-button-default">Add Treatment</button>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		{{/each}}
	</ul>
</div>

